# Graph_RWS/configs/ogbn_papers100M.yaml

# ================= [1. 基础环境与数据集] =================
dataset:
  source: ogb
  name: ogbn-papers100M
  root: ./dataset

# BCSR 结构参数 (通用)
tile_rows: 16
tile_cols: 8
warps_per_block: 8

# ================= [2. 训练模式控制] =================
# 可选模式: 'DPS' | 'BAPS' | 'node' | 'full'
train_mode: DPS

# ================= [3. 预处理策略配置] =================
# 预处理模式: 'rcm' | 'metis' | 'metis+rcm' | 'none'
preprocess_mode: metis+rcm

# METIS 专用参数
# 1.1e8 节点 / 5000 ≈ 2.2万节点/分区
metis:
  num_partitions: 5000

# ================= [4. 模式专用配置板块] =================

# [Mode: DPS] 动态分区采样配置
DPS:
  max_partition_edges: 2500000
  probe_step_size: 50
  strategy: induced_growth

# [Mode: BAPS] 动态块对齐分区配置
BAPS:
  num_partitions: 5000
  batch_partition_size: 5

# [Mode: node] 点采样配置
node:
  batch_size: 4096

# [Mode: full] 全图训练配置
full:
  pass

# ================= [5. GNN 模型结构] =================
# 100M 数据集通常较浅层网络即可，深层极难收敛
fanouts: [20, 10, 5]
hidden_size: 256
num_classes: 172
dropout: 0.2
residual: true
normalize_features: true

# ================= [6. 训练超参数] =================
epochs: 120
lr: 0.0015
weight_decay: 0.0005
patience: 30
eval_interval: 5
use_scheduler: true

# ================= [7. 系统与保存设置] =================
use_uva: true
use_checkpoint: true
gpu_cache_features: false

save_model: true
save_path: Graph_RWS/save_models/
save_result: true
result_path: Graph_RWS/results/
